name: Sentinel Final Deploy

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build-java:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Build with Maven
        run: mvn -f backend-java/cloud-optimizer/pom.xml clean package -DskipTests

      - name: Deploy to EC2
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          source: "backend-java/cloud-optimizer/target/*.jar"
          target: "/home/ubuntu/app"
          strip_components: 3

      - name: Executing remote ssh commands
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            # 1. Garante que o utilitário 'at' esteja instalado
            sudo apt-get update && sudo apt-get install -y at openjdk-21-jdk
            
            # 2. Limpa o que já existe
            sudo pkill -f 'java -jar' || true
            mkdir -p /home/ubuntu/app
            cd /home/ubuntu/app
            
            # 3. O PULO DO GATO: Agenda a execução para "agora"
            # Isso faz o Linux assumir o processo e libera o GitHub na hora
            echo "java -jar /home/ubuntu/app/*.jar > /home/ubuntu/app/log.txt 2>&1" | at now + 1 minute